<?xml version="1.0" encoding="ISO-8859-1"?>


<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">




    <servlet>
        <servlet-name>TaobaoCallBackServlet</servlet-name>
        <servlet-class>TOI.Servlet.TaobaoCallBackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaobaoCallBackServlet</servlet-name>
        <url-pattern>/TaobaoCallBack</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
        <servlet-name>AddItem2TBServlet</servlet-name>
        <servlet-class>TOI.Servlet.AddItem2TBServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItem2TBServlet</servlet-name>
        <url-pattern>/AddItem2TBServlet</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>sendOrder</servlet-name>
        <servlet-class>TOI.Servlet.SendOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sendOrder</servlet-name>
        <url-pattern>/sendOrder</url-pattern>
    </servlet-mapping>
    
    
    <welcome-file-list>	
	<welcome-file>
           jsp/index.jsp
        </welcome-file>
    </welcome-file-list>  
</web-app>
